* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 5px;
    padding: 5px;
}

/* Header: logo y barra de navegación */
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: white;

}
    a {
        text-decoration: none;
    }

    .menu{
        display: flex;
        flex-direction: row;
    }

        li {
            list-style: none;   
        }

/* Sección Homepage */
.homepage {
    border: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    z-index: -2;
        
}
   
    video {
        position: relative;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 50%;
        z-index: 3;
        
       
    }

    .titulo {
        width: 60%;
        margin: auto;
        color: whitesmoke;
         
    }



/* Section 1: Carga de archivos */
#section-1{
    background-color: #F9F5EB;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
    font-size: 30px;
      
    
}

.drop-area {
    border: 5px dashed #ddd;
    height: 50%;
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-area.active{
    background-color: #b8d4f4;
    color:black;
    border: 2px dashed #618ac9;
}


.drop-area span{
    font-size:20px;

}

.drop-area button{
    padding: 10px 25px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;

}
.status-text{
    padding: 0 10px;

}

.success {
    color: #52ad5a;
}

.failure {
    color: #ff0000;
}

/* Section 2: Descripción del funcionamiento de la app */ 
#section-2{
    background-color: #EAE3D2;  
}
    .desc{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


/* Section 3: Integrantes del equipo */ 
#section-3{
    background-color:#607EAA;
    color: white;    
}

/* Footer */ 
.foot{
    background-color: #243A73;
    color: white;
    
}

/* Media Queries*/
/* PENDIENTE */

/*
@media screen and (max-width: 640px) {

    body {
        background: blue;
        grid-template-columns: 1fr;
    
    }
       
    }
    
     
    
@media screen and (min-width: 640px) and (max-width: 1280px) {
    
   /* body { 
        background: red;
        
    }
   
    
     
    
@media screen and (min-width: 1280px) {
    
    body { 
        background: green;
        grid-template-columns: 1fr;
    }
    
    }*/

/*@media screen and (max-width:820px) {
        .images {
            flex-wrap: wrap;
        }
    
        .images div {
            width: 100%;
        }
    }*/
