* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.portada {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    opacity: 0.7;
}

nav .logo {width: 80px;}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.titulo p {
    color: white;
}

.titulo a {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.box {
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    width: 98vw;
    padding: 1vw;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

@media (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}

/* Section 1: Carga de archivos */
#section-1{
    background-color: #f9f5eb42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
      
    
}

.drop-area {
    border: 5px dashed #ddd;
    height: 50%;
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-area.active{
    background-color: #b8d4f4;
    color:black;
    border: 2px dashed #618ac9;
}


.drop-area span{
    font-size:20px;

}

.drop-area button{
    padding: 10px 25px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;

}
.status-text{
    padding: 0 10px;

}

.success {
    color: #52ad5a;
}

.failure {
    color: #ff0000;
}

/* Section 2: Descripción del funcionamiento de la app */ 
#section-2{
    background-color: #EAE3D2;  
}
    .desc{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


/* Section 3: Integrantes del equipo */ 
#section-3{
    background-color:#607EAA;
    color: white;    
}

/* Footer */ 
.foot{
    background-color: #243A73;
    color: white;
    
}